    <launch>
        <node pkg="turtlesim" type="turtlesim_node" name="turtlesim1">
            <param name="background_g" value="155"/>
        </node>    
        <node pkg="srv_test" type="turtle_move_server_node.py" name="turtlemove_server_node"/>
        <node pkg="srv_test" type="turtle_move_client_node.py" name="turtlemove_client_node" output="screen"/>
    </launch>